@import '../../vars.css';

.planLength {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
	height: 50px;
	width: 100%;
	background-color: var(--primary-light);
	border-radius: 5px;

	@media (max-width: 640px) {
		margin-top: 20px;
	}
}

.switcher {
	width: 40px;
	height: 22px;
	border-radius: 20px;
	background-color: var(--dark-blue);
	display: flex;
	align-items: center;
	padding: 0;
	border: none;
	appearance: none;
	margin: 0;

	&:not(:checked) + .circle::before {
		transform: translateX(20px);
	}
}

.planLengthCase {
	color: var(--grey);
	cursor: pointer;
	width: 90px;
	height: 100%;
	display: flex;
	align-items: center;

	&:first-child {
		justify-content: center;
	}

	&:last-child {
		justify-content: start;
	}
}

.selected {
	font-weight: 500;
	color: #000;
}

.circle {
	width: 12px;
  height: 12px;
  position: relative;
}

.circle::before {
	content: '';
	position: absolute;
	height: 12px;
	width: 12px;
	border-radius: 100%;
	background-color: #fff;
	left: -36px;
	transition: all 0.1s linear;
}
