.plan {
	display: flex;
	flex-direction: column;
	justify-content: start;
	border: 1px solid var(--grey);
	border-radius: 10px;
	padding: 20px;
	width: 150px;
	background-color: #fff;

	&:hover {
		border: 1px solid var(--primary);
	}

	&:focus {
		outline: none;
		border: 1px solid var(--primary);
		background-color: hsla(243, 100%, 62%, 15%);
	}
}

.planIcon {
	height: 85px;
}

.planTitle {
	font-size: 20px;
	font-weight: 500;
	margin: 0;
	margin-bottom: 5px;
}

.price {
	margin: 0;
	color: var(--grey);
	font-size: 16px;
}

.selected {
	border: 1px solid var(--primary);
	background-color: hsla(243, 100%, 62%, 15%);
}

.monthsFree {
	font-size: 13px;
	margin-top: 10px;
}