.label {
	font-size: 16px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	@media (max-width: 640px) {
		font-size: 14px;
	}
}

.labelError {
	font-weight: bold;
	color: var(--error);
}

.input {
	width: 100%;
	margin-bottom: 20px;
	height: 45px;
	text-indent: 10px;
	border-radius: 10px;
	border: 1px solid #ccc;
	font-weight: 500;
	font-size: 17px;

	&::placeholder {
		color: var(--grey);
	}

	&:focus {
		outline: none;
	}
}

.inputError {
	border: 1px solid var(--error);
}


