@import '../../vars.css';

.addOn {
	display: flex;
	border: 1px solid var(--grey);
	border-radius: 10px;
	padding: 20px;
}

.selected {
	border: 1px solid var(--primary);
}

.info {
	margin-left: 20px;
}

.title {
	font-weight: bold;
}

.description {
	color: var(--grey);
	font-size: 16px;
	margin-top: 5px;
}

.price {
	margin-left: auto;
	display: flex;
	align-items: center;
	color: var(--primary);
}

.checkbox {
	width: 20px;
	accent-color: var(--primary);
}
