.label {
	font-size: 16px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
}

.labelError {
	font-weight: 500;
	color: red;
}

.input {
	margin-bottom: 20px;
	height: 45px;
	text-indent: 10px;
	border-radius: 10px;
	border: 1px solid #ccc;
	font-weight: 500;
	font-size: 17px;

	&::placeholder {
		color: hsl(231, 11%, 63%);
	}

	&:focus {
		outline: none;
		border: 1px solid black;
	}
}

.inputError {
	border: 1px solid red;
}


