@import '../../vars.css';

.sidebar {
	padding: 35px;
	min-width: 274px;
	height: 568px;
	background-image: url(./images/bg-sidebar-desktop.svg);
	margin-left: 18px;
	color: #fff;
}

.step {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.stepNum {
	width: 35px;
	height: 35px;
	border-radius: 100%;
	background-color: var(---primary);
	border: 2px solid var(--sidebar-step);
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	margin-right: 20px;
}

.currentStep {
	background-color: var(--sidebar-step);
	border: 2px solid var(--sidebar-step);
	color: var(--dark-blue);
	outline: none;
}

.title {
	text-transform: uppercase;
	font-size: 13px;
	color: var(--grey);
	margin-bottom: 3px;
}

.description {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 15px;
	letter-spacing: 1px;
}

.info {
	display: flex;
	flex-direction: column;
	align-items: start;
}
