@font-face {
	font-family: 'Ubuntu';
	src: url('../public/fonts/Ubuntu-Regular.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../public/fonts/Ubuntu-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../public/fonts/Ubuntu-Bold.ttf');
	font-weight: bold;
}

html,
body {
	margin: 0;
}

* {
	box-sizing: border-box;
	font-family: 'Ubuntu';
}

